/* General style of the page*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Color paled*/
    --primary-color: #333;
    --primary-color-hover: #555;
    --secondary-color: darkblue;
    --text-light-color: white;
    --background-light-color: #f4f4f4;
    --background-aside-color: #eee;
    --neutral-dark-color: #000;
    --neutral-gray-color: gray;
    /* Typography */
    --main-font: Arial, Helvetica, sans-serif;
    /* Spaces*/
    --padding-large: 20px;
    --padding-medium: 10px;
    --padding-footer: 15px;
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    background-color: var(--background-light-color);
}


/* Header style */

header {
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: var(--padding-large);
    text-align: center;
}


/* Bar nav style */

nav {
    background-color: var(--secondary-color);
    padding: var(--padding-medium);
    text-align: center;
}

nav a {
    color: var(--text-light-color);
    display: block;
    padding: var(--padding-large);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--primary-color-hover);
}


/* main content style */

main {
    max-width: 840px;
    margin: var(--padding-large) auto;
    padding: var(--padding-large);
    background-color: var(--text-light-color);
    overflow: auto;
}

h1 {
    color: var(--secondary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--neutral-dark-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--neutral-gray-color);
    float: right;
    margin: 0 0 var(--padding-medium) var(--padding-footer);
}

p {
    padding: 0;
}


/* aside style*/

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

aside img {
    width: 200px;
    height: auto;
}


/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}


/* footer style */

footer {
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: var(--padding-footer);
    margin-top: var(--padding-footer);
    border-top: 1px solid var(--neutral-dark-color);
    text-align: center;
    width: 100%;
}