/* General style of the page*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Color paled*/
    --primary-color: #333;
    --primary-color-hover: #555;
    --secondary-color: darkblue;
    --text-light-color: white;
    --background-light-color: #f4f4f4;
    --background-aside-color: #eee;
    --neutral-dark-color: #000;
    --neutral-gray-color: gray;
    /* Typography */
    --main-font: Arial, Helvetica, sans-serif;
    /* Spaces*/
    --padding-large: 20px;
    --padding-medium: 10px;
    --padding-footer: 15px;
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    background-color: var(--background-light-color);
}


/* Header style */

header {
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: var(--padding-large);
    text-align: center;
}


/* Bar nav style */

nav {
    background-color: var(--secondary-color);
    padding: var(--padding-medium);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--text-light-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

nav a:hover {
    background-color: var(--primary-color-hover);
}


/* main content style */

main {
    margin: var(--padding-large) auto;
    padding: var(--padding-large);
    background-color: var(--text-light-color);
    overflow: auto;
}

h1 {
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}


/* aside style*/

aside {
    text-align: center;
}

p {
    padding: 0;
}

aside img {
    width: 200px;
    height: auto;
}


/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}


/* grid section */

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: var(--padding-large);
    background-color: var(--text-light-color);
}


/* footer style */

footer {
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: var(--padding-footer);
    margin-top: var(--padding-footer);
    border-top: 1px solid var(--neutral-dark-color);
    text-align: center;
}


/* header, grid, footer */

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}