/* General style of the page*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


/* Header style */

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}


/* Bar nav style */

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}


/* cont principal style */

main {
    padding: 20px;
    max-width: 840px;
    margin: 20px auto;
    background-color: white;
}


/* Img styles */

main img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 0 10px 15px;
}


/* aside style*/

aside {
    width: 200px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}


/* footer style */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    border-top: 1px solid #000;
    width: 100%;
}